
.wrapper {
    display: flex;
    align-items: flex-end;
    margin: 10px;
}

.name {
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
}

.text {
    min-width: 150px;
    max-width: 300px;
    word-wrap: break-word;
    font-family: 'Roboto Mono', monospace;
}
.time{
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    justify-content: right;
}

.avatar {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.message {
    padding: 10px;
    border-radius: 5px 5px 5px 0;
    background-color: #f7d794;
    position: relative;
}

.angle {
    width: 15px;
    height: 15px;
    background: radial-gradient(circle at 0 0, rgba(0, 0, 0, 0) 15px, #f7d794 0);

}