.wrapper {
    position: relative;
    overflow-x: hidden;

}

.menu {
    position: fixed;
    left: 0;
    top: 5px;
    width:300px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #a29bfe;
    transition: 1s;
    transform: translateX(-90%);
}
.menuActive{
    left: 0;
    top: 5px;
    width:300px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #a29bfe;
    transition: 1s;
    transform: translateX(0);
}

.menuList{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    font-weight: 400;
}
.menuBtn{
    width: 30px;
    height: 30px;
    background-color: #e84393;
    top: 0;
    right: 0;
    position: absolute;
}
.navLink{
margin-right: 5px;
}
