.greeting{
    display: flex;
    align-items: flex-start;
    background-color: #778beb;
}

.someClass {
    margin-left: 8px;
    font-style: italic;
    font-size: 16px;
}

.error {
    color: #574b90;
    height: 21px;
    margin-left: 10px;
}
input{
    margin: 10px;
    background: #f78fb3;
}
input:focus {
    outline: #574b90 solid 2px;
}